<div class="container">
  <div class="d-flex justify-content-between mt-5 align-items-center">
    <h1><%= @list.name %>'s list</h1>
    <%= link_to "Add a movie", new_list_bookmark_path(@list), class: "button-add" %>
  </div>

  <%# // Montrer tous les films associés  %>
  <ul class="container-movies">
    <% @movies.each do |movie| %>
      <li class="my-card">
        <div class="card-movie">
          <div>
            <%# the image stored in poster_url is a predefined poster made by TMDB.
            Change seed to get the whole movie poster %>
            <%= image_tag(movie.poster_url, class: "card-movie-picture", width: "100%") %>
            <%# <%= cl_image_tag("opywjlka4wvmeop90vwa", width: 1000, height: 500 ,crop: :thumb, gravity: :face, class: 'card-movie-picture' ) %>
          </div>

          <div class="card-movie-main">
            <div class="card-movie-header">
              <p class="card-movie-title me-3"><%= movie.title %></p>
              <p class="me-2"><%= movie.rating %></p>
              <i class="fa-solid fa-star"></i>
            </div>

            <div class="card-movie-content">
              <p><%= movie.overview %></p>
            </div>

            <div class="card-movie-footer">
              <div class="card-movie-quote">
                <i class="fa-solid fa-quote-left me-2"></i>
                <p><%=  Bookmark.find_by(list: @list, movie: movie).comment %></h5>
              </div>

              <div class="card-movie-delete">
                <%= link_to "edit", edit_bookmark_path(Bookmark.find_by(list: @list, movie: movie)) ,class: "text-primary me-3" %>
                <%= link_to "delete", bookmark_path(movie), data: {turbo_method: "delete", turbo_confirm: "Delete #{movie.title} from #{@list.name}?"} %>
              </div>
            </div>
          </div>

        </div>
      </li>
    <% end %>
  </ul>

  <%= link_to "Back to menu", lists_path %>
</div>
